<section class="col-md-4">
  <h1>
    <%= link_to recipe.title, recipe %>
    <%if recipe.favorited? current_user %>
      <%= image_tag('star.png') unless current_page?(favorites_recipes_path)%>
    <% end %>
  </h1>
  <ul>
    <% if recipe.author %>
      <li>
        <%= recipe.author.email %>
      </li>
    <% end %>
    <li>
      <%= recipe.recipe_type %>
    </li>
    <li>
      <%= recipe.cuisine %>
    </li>
    <li>
      <%= recipe.difficulty %>
    </li>
    <li>
      <%= "#{recipe.cook_time} minutos" %>
    </li>
  </ul>
</section>