<h1>Nova Cozinha</h1>

<%= form_for @cuisine do |f| %>
  <% if @cuisine.errors.any? %>
    <h2> Erro: </h2>
    <ul>
    <% @cuisine.errors.messages.each do |msg| %>
      <li><%= msg.last.last %></li>
    <% end %>
    </ul>
  <% end %>

  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>

  <%= f.submit 'Enviar' %>
<% end %>

