<nav class="row">
  <section class="col-md-8">
    <header class="page-header">
      <h1>CookBook</h1>
      <p>Bem-vindo ao maior livro de receitas online</p>
    </header>
  </section>
</nav>

<article class="row">
  <% @recipes.each do |recipe|%>
    <section class="col-md-4">
      <h1><%= link_to recipe.title, recipe %></h1>
      <ul>
        <% if recipe.author %>
          <li>
            <%= recipe.author.email %>
          </li>
        <% end %>
        <li>
          <%= recipe.recipe_type %>
        </li>
        <li>
          <%= recipe.cuisine %>
        </li>
        <li>
          <%= recipe.difficulty %>
        </li>
        <li>
          <%= "#{recipe.cook_time} minutos" %>
        </li>
      </ul>
    </section>
  <%end%>
  <%= link_to  "Visualizar tudo", recipes_path %>
</article>
