<h1 class="page-header">Novo Tipo de Receita</h1>

<div class="form-group form-inline">
  <%= form_for @recipe_type do |f| %>
    <% if @recipe_type.errors.any? %>
      <h2> Erro: </h2>
      <ul>
      <% @recipe_type.errors.messages.each do |msg| %>
        <li><div class="error"><%= msg.last.last %></div></li>
      <% end %>
      </ul>
    <% end %>

    <div class="row">
      <div class="col-md-42">
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name, class:'form-control' %>
      </div>
      <div class="col-md-1">
          <%= f.submit 'Enviar', class:'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>